*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
}

/* TOP SECTION */
main{
    background-color: rgb(178, 179, 181);
    padding: 50px 100px;
}

main h1{
    margin-bottom: 10px;
}

main p{
    margin-bottom: 15px;
    max-width: 700px;
}

main button{
    border: none;
    padding: 10px 15px;
    background-color: blue;
    color: white;
    cursor: pointer;
}

/* CARDS SECTION */
.box{
    display: flex;
    justify-content: space-between; 
     padding: 50px 80px;
    /* gap: 30px; */
}

.card{
    width: 30%;
}

.card h1{
    margin-bottom: 10px;
}

.card p{
    margin-bottom: 15px;
    line-height: 1.5;
}

.card button{
    border: none;
    padding: 8px 12px;
    background-color: gray;
    color: white;
    cursor: pointer;
}

/* FOOTER */
footer{
    border-top: 1px solid #ccc;
    padding: 20px 80px;
}

/* RESPONSIVE */
@media (max-width: 700px){
    main{
        padding: 40px;
    }

    .box{
        flex-direction: column;
        padding: 40px;
    }

    .card{
        width: 100%;
    }
    

}

