.parent{
  width: 800px;
  height: 700px;
  margin: auto;
  margin-top: 100px;
  border: 1px solid black;
  /* make parent grid container */
   display: grid;
    /* decide no of rows and columns */
   grid-template-columns: 1fr 1fr 1fr  1fr;
   grid-template-rows: 1fr 1fr  1fr ;
   gap:10px;
}
.child1{
  display: flex;
    grid-column: 1/3;
  grid-row: 1/2;
  align-content: center;
  background-color: azure;
  flex-direction: row;
}
.child1 img{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 60px;
  height: 40%;
  width: 60%;

  
}

.child2{
    grid-column: 3/5;
  grid-row: 1/2;
  text-align: center;
  background-color: rgb(16, 163, 14);
}
.child2 h1{
  color: rgb(0, 0, 0);
   
}
.child3{
    grid-column: 1/2;
  grid-row: 2/3;
  align-content: center;
  background-color: rgb(222, 130, 10);
}
.child3 img{
  height: 50%;
  width: 40%;
  padding-left: 50px;
  right: 0;
  align-content: center;
}
.child4{
    grid-column: 2/4;
  grid-row: 2/3;
  background-color: rgb(185, 149, 32);
}
.child4 img{
    height: 100%;
  width: 100%;
  object-fit: contain;
  padding-top:1px;
  background-blend-mode: lighten;
}
.child5{
    grid-column: 4/5;
  grid-row:2/4; 
  background-color: brown;
  align-content: center;
}
.child5 img{
    height: 60%;
  width: 70%;
  object-fit: contain;
  background-blend-mode: lighten;
}
.child6{
    grid-column: 1/2;
  grid-row: 3/4;
  background-color: blueviolet;

}
.child7{
    grid-column: 2/4;
  grid-row: 3/4;
  background-color: rgb(190, 154, 187);
}
@media screen  and (max-width:600px){
  /* stacked view */
  .parent{
    grid-template-columns: 1fr;
    grid-template-rows: auto;
   
  }

  .parent > div{
     grid-column: auto;
     grid-row: auto;
  }
}