*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background:#1e1e1e;
}

/* Top Bar */
.topbar{
    background:#e6e6e6;
    padding:10px 40px;
    display:flex;
    align-items:center;
}

.logo-box{
    background:#2c3e50;
    color:#7fd0ff;
    padding:8px 10px;
    font-weight:bold;
    border-radius:4px;
    margin-right:10px;
}

.brand{
    color:red;
    font-weight:bold;
}

/* Hero Section */
.hero{
    background:#e10600;
    color:white;
    padding:60px 80px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.hero-left h1{
    font-size:42px;
    margin-bottom:20px;
}

.hero-left p{
    width:400px;
    line-height:1.6;
    font-size:14px;
}

.hero-right .bird{
    font-size:100px;
}

/* Bottom Info Section */
.info-section{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.info-box{
    background:#7a0d0d;
    color:#fff;
    padding:40px 30px;
    border-left:2px solid #e10600;
}

.info-box h3{
    margin-bottom:20px;
}

.info-box p{
    font-size:13px;
    line-height:1.6;
}



@media(max-width: 992px){

    .hero{
        flex-direction:column;
        text-align:center;
    }

    .hero-left p{
        width:100%;
    }

    .hero-right{
        margin-top:30px;
    }

    .info-section{
        grid-template-columns:1fr;
    }

    .info-box{
        border-left:none;
        border-top:2px solid #e10600;
    }
}
